# ignore everything by default
*
!*/

# except for these files...
!/.gitignore
!/CHANGELOG.rst
!/LICENSE
!/Makefile
!/MANIFEST.in
!/pyproject.toml
!/README*
!/setup.py
!/bertrand/env/codegen/conanfile.txt

# the source directory...
!/bertrand/**/py.typed
!/bertrand/**/CMakeLists.txt
# !/bertrand/**/*.c
!/bertrand/**/*.cpp
!/bertrand/**/*.h
!/bertrand/**/*.py
!/bertrand/**/*.pyi
!/bertrand/**/*.pyx
!/bertrand/**/*.pxd

# tests...
!/test/**/py.typed
# !/test/**/*.c
!/test/**/*.cpp
!/test/**/*.h
!/test/**/*.py
!/test/**/*.pyi
!/test/**/*.pyx
!/test/**/*.pxd

# documentation...
!/docs/source/_static/**
!/docs/source/content/**
!/docs/source/images/**
!/docs/source/conf.py
!/docs/source/index.rst
!/docs/Makefile
!/docs/make.bat

# CI/CD workflows...
!/.github/workflows/**

# ...while explicitly ignoring any files/directories that match these patterns
/**/.*/
/venv/
build/
__pycache__/
*Zone.Identifier
