# ignore everything by default
*
!*/

# except for these root files...
!/.gitignore
!/CHANGELOG.rst
!/LICENSE
!/Makefile
!/MANIFEST.in
!/pyproject.toml
!/README.rst
!/setup.py

# the source directory...
!/bertrand/**/py.typed
# !/bertrand/**/*.c
!/bertrand/**/*.cpp
!/bertrand/**/*.h
!/bertrand/**/*.py
!/bertrand/**/*.pyi
!/bertrand/**/*.pyx
!/bertrand/**/*.pxd

# tests...
!/test/**/py.typed
# !/test/**/*.c
!/test/**/*.cpp
!/test/**/*.h
!/test/**/*.py
!/test/**/*.pyi
!/test/**/*.pyx
!/test/**/*.pxd

# documentation...
!/docs/source/content/**
!/docs/source/images/**/*.html
!/docs/source/images/**/*.png
!/docs/source/images/**/*.svg
!/docs/source/images/**/*.jpg
!/docs/source/images/**/*.jpeg
!/docs/source/images/**/*.gif
!/docs/source/images/**/*.tiff
!/docs/Makefile
!/docs/make.bat

# and CI/CD workflows...
!/.github/workflows/**

# but excluding any files/directories that match these patterns...
build/
__pycache__/
/*.*/
/venv/
