include pyproject.toml setup.py MANIFEST.in Makefile
include README.rst CHANGELOG.rst LICENSE

global-exclude *Zone.Identifier
global-exclude *pyc
recursive-exclude .env *
recursive-exclude .venv *
recursive-exclude env *
recursive-exclude venv *

recursive-include pdcast *.pyx
recursive-include pdcast *.pxd
recursive-exclude pdcast *.c

include docs/Makefile docs/make.bat
recursive-include docs/source *
prune docs/source/generated

recursive-include tests *.py
prune *__pycache__*
