include pyproject.toml setup.py MANIFEST.in Makefile
include Containerfile
include README.rst CHANGELOG.rst LICENSE
include docs/Makefile docs/make.bat
recursive-include docs/source *
recursive-include tests *.py
recursive-include bertrand *.h *.cpp *.pyx *.pxd *.pyi *.j2 py.typed

global-exclude *Zone.Identifier *.pyc
recursive-exclude bertrand *.c
recursive-exclude env *
recursive-exclude .env *
recursive-exclude venv *
recursive-exclude .venv *
prune **__pycache__**
prune docs/source/generated
