# Bertrand internal state
.bertrand/
**/.bertrand/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.dist/
.build/
.eggs/
.venv/
venv/

# C/C++
build/
out/
*.o
*.obj
*.a
*.lib
*.so
*.dylib
*.dll

# VCS / IDE
.git/
.gitignore
.vscode/
.idea/
.DS_Store
